<html>

<head>
    <title>FootFall</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../static/logo-sm.png" />
    <link rel="stylesheet" href="../static/dashboard.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <style>
        body {
            font-family: 'Segoe UI';
        }
        
        * {
            margin: 0;
            padding: 0;
        }
        
        .display-5 {
            font-size: 2.5rem;
            font-family: "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-weight: lighter;
        }
        
        .display-6 {
            font-size: 1.5rem;
            font-family: "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-weight: lighter;
        }
        
        nav {
            background-color: rgb(6, 52, 94);
        }
        
        .footer {
            position: absolute;
            width: 100%;
            bottom: 0%;
            overflow-x: hidden;
        }
        
        .active-bg {
            background-color: #0b5599 !important;
        }
        
        img {
            border-radius: 2rem;
        }
        
        .bg-green {
            background-color: #00B9BA !important;
        }
        
        .bg-blue {
            background-color: #06345E !important;
        }
    </style>
</head>

<body>

    <section class="intro">

        <nav class="navbar navbar-expand-md navbar-dark">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="../static/logo-white-no-bg.png" height="50" class="d-inline-block align-top" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/#get_started">Get Started</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row" id="body-row">
            <div id="sidebar-container" class="sidebar-expanded d-none d-md-block bg-blue">
                <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
                <!-- Bootstrap List Group -->
                <ul class="list-group bg-green">
                    <!-- Separator with title -->
                    <li class="list-group-item sidebar-separator-title text-light d-flex align-items-center menu-collapsed bg-blue">
                        <small>MAIN MENU</small>
                    </li>
                    <!-- /END Separator -->
                    <!-- Menu with submenu -->
                    <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-green list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-dashboard fa-fw mr-3"></span>
                            <span class="menu-collapsed">Dashboard</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <!-- Submenu content -->
                    <div id='submenu1' class="collapse sidebar-submenu">
                        <a href="#cams" class="list-group-item list-group-item-action bg-blue my-item text-white">
                            <span class="menu-collapsed">Camera Feed</span>
                        </a>
                        <a href="#analytics" class="list-group-item list-group-item-action bg-blue my-item text-white">
                            <span class="menu-collapsed">Analysis</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-blue my-item text-white">
                            <span class="menu-collapsed">Reports</span>
                        </a>
                        <a href="/info/1" class="list-group-item list-group-item-action bg-blue my-item text-white">
                            <span class="menu-collapsed">Reconfigure</span>
                        </a>
                    </div>
                    <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-green list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-user fa-fw mr-3"></span>
                            <span class="menu-collapsed">Profile</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <!-- Submenu content -->
                    <div id='submenu2' class="collapse sidebar-submenu">
                        <a href="#" class="list-group-item list-group-item-action bg-blue my-item text-white">
                            <span class="menu-collapsed">Settings</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-blue my-item text-white">
                            <span class="menu-collapsed">Change Password</span>
                        </a>
                    </div>
                    <!-- Separator with title -->
                    <li class="list-group-item sidebar-separator-title text-light d-flex align-items-center menu-collapsed bg-blue">
                        <small>OPTIONS</small>
                    </li>
                    <!-- /END Separator -->

                    <a href="#" class="bg-green list-group-item list-group-item-action my-item">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-question fa-fw mr-3"></span>
                            <span class="menu-collapsed">Help</span>
                        </div>
                    </a>
                    <a href="/" ping="/logout" class="bg-green list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-sign-out fa-fw mr-3"></span>
                            <span class="menu-collapsed">Logout</span>
                        </div>
                    </a>
                    <a href="#top" data-toggle="sidebar-colapse" class="bg-green list-group-item list-group-item-action d-flex align-items-center">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                            <span id="collapse-text" class="menu-collapsed">Collapse</span>
                        </div>
                    </a>
                </ul>
                <!-- List Group END-->
            </div>

            <div class="col p-4">

                <section id="cams" class="tab-content">
                    <div class="container mx-auto mb-5 p-4" style="background-color:rgb(6, 52, 94); border-radius: 2rem;">
                        <div class="row text-center text-light">
                            <div class="col">
                                <div class="display-4 " id="totalcount"></div>
                            </div>
                        </div>
                    </div>

                    <div class="container mx-auto mb-5 p-3">
                        <div class="row">
                            {% for i in range(num_cams) %}
                            <div class="col-lg-4 offset-lg-1 mx-auto mb-3">
                                <div class="card" style="width: 18rem; border: none;">
                                    <img src="" class="card-img-top" id="f{{i}}" alt="cam_{{i + 1}}" style="border-radius: 0% !important;">
                                    <div class="card-body mt-3" style="background-color: rgb(6, 52, 94); border-radius: 2rem;">
                                        <h3 class="card-title text-light text-center display-6 mx-auto" id="fc{{i}}">
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>

                <section id="analytics" class="tab-content">

                    <h1 class="display-1 my-5 mx-5 ">
                        COMING SOON...
                    </h1>

                </section>
            </div>
        </div>

    </section>


    <section id="footer ">
        <footer class="bg-light text-center text-lg-start ">
            <div class="text-center p-3 " style="background-color:#06345E; color: white; ">
                © 2021 FootFall
            </div>
        </footer>
    </section>


    <script src="../static/dashboard.js "></script>
    <script>
        $(document).ready(function() {
            $('[data-toggle=offcanvas]').click(function(e) {
                e.preventDefault()
                $('.row-offcanvas').toggleClass('active');
                $('.collapse').toggleClass('in').toggleClass('hidden-xs').toggleClass('visible-xs');
            });
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

            socket.on('newdata', function(msg) {
                $('#totalcount').html('Total Count: ' + msg.total_count);
                var frame_counts = msg.frame_counts;
                for (i = 0; i < frame_counts.length; i++) {
                    $('#fc' + i).html("Camera " + (i + 1) + ": " + frame_counts[i]);
                }
                var frames = msg.frames;
                for (i = 0; i < frames.length; i++) {
                    let id = '#f' + i;
                    $(id).attr('src', frames[i]);
                }
            });
        });

        //// Hide submenus
        //$('#body-row .collapse').collapse('hide');
        //
        //// Collapse/Expand icon
        //$('#collapse-icon').addClass('fa-angle-double-left');
        //
        //// Collapse click
        //$('[data-toggle=sidebar-colapse]').click(function() {
        //    SidebarCollapse();
        //});
        //
        //function SidebarCollapse() {
        //    $('.menu-collapsed').toggleClass('d-none');
        //    $('.sidebar-submenu').toggleClass('d-none');
        //    $('.submenu-icon').toggleClass('d-none');
        //    $('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');
        //
        //    // Treating d-flex/d-none on separators with title
        //    var SeparatorTitle = $('.sidebar-separator-title');
        //    if (SeparatorTitle.hasClass('d-flex')) {
        //        SeparatorTitle.removeClass('d-flex');
        //    } else {
        //        SeparatorTitle.addClass('d-flex');
        //    }
        //
        //    // Collapse/Expand icon
        //    $('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');
        //}
        //
        //$('.my-item:first').addClass('active-bg');
        //$('.my-item:first').removeClass('bg-blue');
        //$('.tab-content:not(:first)').hide();
        //$('.my-item').click(function(event) {
        //    event.preventDefault();
        //    var content = $(this).attr('href');
        //    $(this).addClass('active-bg');
        //    $(this).removeClass('bg-blue');
        //
        //    $(this).siblings().removeClass('active-bg');
        //    $(this).siblings().addClass('bg-blue');
        //
        //    $(content).show();
        //    $(content).siblings('.tab-content').hide();
        //});
    </script>
</body>

</html>

</html>