<html>

<head>
    <title>FootFall</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <div class="container">

        <div class="row">
            <h1>Dashboard</h1>
        </div>

        <div class="row">
            <div class="col-lg-7">
                <h3 id="totalcount">Total Count: </h3>
            </div>
        </div>

        {% for i in range(num_cam) %}
            <div class="row">
                <div class="col-lg-4">
                    <h3> Camera {{i + 1}}: {{cam_counts[i]}} </h3>
                </div>
                <div class="col-lg-8">
                    <img src="{{ url_for('get_single_frame', idx=i+1) }}" alt="cam_{{i + 1}}">
                </div>
            </div>
        {% endfor %}

    </div>

    <script>
        $(document).ready(function(){
            // sending a connect request to the server.
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            console.log("lauasdaksdaksn")
            socket.on('updatedata', function(msg) {
                console.log("Received number")// + msg.total_count);
                $('#totalcount').html('' + msg.total_count);
            });

        });
    </script>
</body>

</html>