<html>

<head>
    <title>FootFall</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <div class="container">

        <div class="row">
            <h1>Dashboard</h1>
        </div>

        <div class="row">
            <div class="col-lg-7">
                <h3 id="totalcount"></h3>
            </div>
        </div>

        {% for i in range(num_cams) %}
            <div class="row">
                <div class="col-lg-4">
                    <h3 id="fc{{i}}"></h3>
                </div>
                <div class="col-lg-8">
                    <img id="f{{i}}" alt="cam_{{i + 1}}" src="">
                </div>
            </div>
        {% endfor %}

    </div>

    <script>
        $(document).ready(function(){

           var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
    
            socket.on('newdata', function(msg) {
                $('#totalcount').html('Total Count: ' + msg.total_count);
                var frame_counts = msg.frame_counts;
                for(i = 0; i < frame_counts.length; i++){
                    $('#fc'+i).html("Camera " + (i + 1) + ": " + frame_counts[i]);
                }
                var frames = msg.frames;
                for(i = 0; i < frames.length; i++){
                    let id = '#f'+i;
                    $(id).attr('src', frames[i]);
                }
            });
        });
    </script>
</body>

</html>
