<html>

<head>
    <title>FootFall</title>
</head>

<body>
    <h1>Dashboard</h1>
    <form action="/video_stream" method="post">
        <input type="text" name="num_cam" value="{{num_cams}}" hidden> 
        {% for i in range(num_cams) %} 
            <label for="cam_{{i + 1}}"> Enter URL for Camera {{ i + 1 }}: </label>
            <input type="text" name="cam_{{i + 1}}" id="cam_{{ i + 1 }}">
            <br><br> 
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>

</html>