<html>

<head>
    <title>FootFall</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<body>
    
    <div class="container">
        <div class="row text-center">
            <div class="col"> 
                <h1 style="font: xx-large">FootFall</h1>
            </div>
        </div>

        <form action="/video_stream" method="post">
            <input type="text" name="num_cam" value="{{num_cams}}" hidden> 
            <div class="row text-center">
                {% for i in range(num_cams) %}
                    <div class="col-lg-6"> 
                        <label for="cam_{{i + 1}}"> Enter URL for Camera {{ i + 1 }}: </label>
                        <input type="text" class="form-control" name="cam_{{i + 1}}" id="cam_{{ i + 1 }}">
                        <br><br> 
                    </div>
                {% endfor %}
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-lg-offset-4">
                   <input type="submit" class="form-control" value="Submit">
                </div>
            </div>
        </form> 
    </div>
</body>

</html>