<html>

<head>
    <title>FootFall</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<body>
    <div class="container">
        <div class="row text-center">
            <div class="col"> 
                <h1>FootFall</h1>
            </div>
        </div>

         <form action="/info/1" method="post">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <label for="num_cams">Enter Number of Cameras</label>
                    <input type="number" class="form-control" name="num_cams" id="num_cams">
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <label for="ques">Are these cameras connected to this machine?</label>
                    <select class="form-control" name="ques" id="ques">
                        <option value="yes">Yes</option>
                        <option value="no" selected>No</option>
                    </select>
                </div>
            </div>
            <br>                
            <div class="row justify-content-center">
                <div class="col-lg-3 col-lg-offset-4">
                    <input class="form-control" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
    
</body>

</html>