<html>

<head>
    <title>FootFall</title>
</head>

<body>
    <h1>Dashboard</h1>
    <form action="/basic" method="post">
        <label for="num_cams">Enter Number of Cameras</label>
        <input type="number" name="num_cams" id="num_cams">
        <br>
        <label for="ques">Are these cameras connected to this machine?</label>
        <select name="ques" id="ques">
            <option value="yes">Yes</option>
            <option value="no" selected>No</option>
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>